@mixin sm-mobile {
  @media (max-width: $sm-mobile-max-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mobile-max-width + 1) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $tablet-max-width + 1) {
    @content;
  }
}
