@mixin sm-mobile {
  @media (max-width: $sm-mobile-max-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin only-tablet {
  @media (min-width: $mobile-max-width + 1) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin only-desktop {
  @media (min-width: $tablet-max-width + 1) and (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin hd-desktop {
  @media (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}
