* {
	box-sizing: border-box;
}

html, body {
  background-color: $white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: $grey-800;
  text-align: center;
	min-width: $page-min-width;
}

h1 {
	font-size: 60px;
	font-weight: normal;
	margin: 0 0 40px 0;
}

h2 {
	font-size: 45px;
	font-weight: normal;
}

h3 {
	font-size: 28px;
	line-height: 45px;
	font-weight: normal;
	margin: 0;
}

p {
	font-size: 18px;
	line-height: 33px;
	margin-top: 0;
}

img {
	max-width: 100%;
}

a, .link {
	color: $grey-800;
	cursor: pointer;
	text-decoration: none;

  &:hover {
    color: $red;
  }

	&.active {
		color: $red;
	}
}

section {
	position: relative;

	p {
	  margin-bottom: 30px;

		&:last-child {
		  margin-bottom: 0;
		}
	}

	a {
		color: $blue;
		font-weight: bold;
	}
}

hr {
	height: 1px;
  color: $grey-200;
  background-color: $grey-200;
  font-size: 0;
  border: 0;
  width: 100%;
  margin: 40px 0;
}

@include mobile {
	h1 {
		font-size: 40px;
		margin-bottom: 35px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 25px;
		line-height: 40px
	}
}

@include sm-mobile {
	h1 {
		font-size: 35px;
		margin: 0 0 20px 0;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 22px;
		line-height: 38px;
	}

	p {
		font-size: 16px;
		line-height: 28px;
	}
}
