* {
	box-sizing: border-box;
}

html, body {
  background-color: $white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: $grey-800;
  text-align: center;
}

img {
	max-width: 100%;
}

a, .link {
	color: $grey-800;
	cursor: pointer;
	text-decoration: none;

  &:hover {
    color: $red;
  }
}
