$sm-mobile-max-width: 479px !default;
$mobile-max-width: 767px !default;
$tablet-max-width: 991px !default;

$page-min-width: 320px;

$header-content-height: 75px;

$section-content-max-width: 1100px !default;
$section-content-wide-max-width: 1400px !default;
$section-title-font-size: 18px !default;
$section-subtitle-font-size: 27px !default;
$sm-section-title-font-size: 16px !default;
$sm-section-subtitle-font-size: 21px !default;

$article-title-fontsize: 45px !default;
$article-title-fontweight: normal !default;
$article-subtitle-fontsize: 24px !default;
$article-subtitle-fontweight: 700 !default;
$article-subtitle-lineheight: 35px !default;

$sm-article-title-fontsize: 40px !default;

$xs-article-title-fontsize: 27px !default;
$xs-article-subtitle-fontsize: 21px !default;
$xs-article-subtitle-lineheight: 32px !default;

$white: #fff;

$red: #CF3800;
$blue: #86FED4;

$grey-100: #f9f9f9;
$grey-200: #ddd;
$grey-800: #3f3936;

$font-primary: 'Montserrat', sans-serif;
