$sm-mobile-max-width: 479px !default;
$mobile-max-width: 767px !default;
$tablet-max-width: 991px !default;

$page-min-width: 320px;

$header-content-height: 65px;

$section-content-max-width: 1100px !default;
$section-title-font-size: 28px !default;
$sm-section-title-font-size: 22px !default;

$white: #fff;

$red: #CF3800;

$grey-200: #ddd;
$grey-800: #3f3936;
