title: Otter Networks
email: info@otternetworks.de
description: >- # this means to ignore newlines until "baseurl:"
  Upskill your developers rather than hiring a Devops Engineer
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://otter.ly" # the base hostname & protocol for your site, e.g. http://example.com
linkedin_url: "https://www.linkedin.com/company/otter-networks/"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
