@mixin flow {
  &_row {
    -webkit-flex-flow: row;
    flex-flow: row;
  }

  &_row-reverse {
    -webkit-flex-flow: row-reverse;
    flex-flow: row-reverse;
  }

  &_column {
    -webkit-flex-flow: column;
    flex-flow: column;
  }

  &_column-reverse {
    -webkit-flex-flow: column-reverse;
    flex-flow: column-reverse;
  }
}

.flow {
  @include flow;
}

@include sm-mobile {
  .xs-flow {
    @include flow;
  }
}

@include mobile {
  .sm-flow {
    @include flow;
  }
}

@include only-tablet {
  .md-flow {
    @include flow;
  }
}
