<head>
	<meta charset="utf-8" />
	<title>Otter Networks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta charset="utf-8" />
	<meta property='og:title' content='Otter Networks - Devops Delivered'/>
	<meta property='og:image' content='https://otter.ly/img/open_graph.png'/>
	<meta property='og:description' content='Upskill your developers rather than hiring a Devops Engineer'/>
	<meta property='og:url' content='https://otter.ly/' />
	<link rel="shortcut icon" href="/favicon.ico?v=1" type="image/x-icon">
	<link rel="icon" href="/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	{% css style %}
	{% js main %}

	<!-- start ConvertFox JS code
	<script>
		(function(d,h,w){var convertfox=w.convertfox=w.convertfox||[];convertfox.methods=['trackPageView','identify','track','setAppId'];convertfox.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);convertfox.push(e);return convertfox;}};for(var i=0;i<convertfox.methods.length;i++){var c=convertfox.methods[i];convertfox[c]=convertfox.factory(c)}s=d.createElement('script'),s.src="//d3sjgucddk68ji.cloudfront.net/convertfox.min.js",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),convertfox.setAppId("4ypoehxz"),convertfox.trackPageView()})(document,'head',window);
	</script>
	end ConvertFox JS code-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-62051368-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'UA-62051368-1');
	</script>
	<!-- end Google Analytics -->
</head>
