<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>{{ page.title | default: site.title }}</title>
	<meta name="description" content="{{ page.description | default: site.description }}">
	<meta property="og:title" content="{{ page.title | default: site.title }}" />
	<meta property="og:description" content="{{ page.description | default: site.description }}" />
	{% if page.image %}
	<meta property="og:image" content="{{ page.image }}" />
	{% endif %}
	<meta property="og:url" content="{{ page.url | absolute_url }}" />
	<link rel="canonical" href="{{ page.url | absolute_url }}" />
	<link rel="shortcut icon" href="/favicon.ico?v=1" type="image/x-icon">
	<link rel="icon" href="/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	{% css style %}

	<!-- start ConvertFox JS code
	<script>
		(function(d,h,w){var convertfox=w.convertfox=w.convertfox||[];convertfox.methods=['trackPageView','identify','track','setAppId'];convertfox.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);convertfox.push(e);return convertfox;}};for(var i=0;i<convertfox.methods.length;i++){var c=convertfox.methods[i];convertfox[c]=convertfox.factory(c)}s=d.createElement('script'),s.src="//d3sjgucddk68ji.cloudfront.net/convertfox.min.js",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),convertfox.setAppId("4ypoehxz"),convertfox.trackPageView()})(document,'head',window);
	</script>
	end ConvertFox JS code-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-62051368-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'UA-62051368-1');
	</script>
	<!-- end Google Analytics -->
</head>
