<!-- navigation has to be in a header tag for now for CSS -->
<header>
    <div class="header-container">
        <div id="nav-trigger"class="clearfix">
            <a href="/" class="logo-link">
                <div class="logo">
                    <img src="/img/OtterNetworks_Positive_RGB.svg">
                </div>
            </a>
            <span><i class="fa fa-bars" aria-hidden="true"></i></span>
        </div>
        <nav id="nav-main">
            <div class="logo">
                <a href="/"><img src="/img/OtterNetworks_Positive_RGB.svg"></a>
            </div>
            <ul class="navigation">
                <li><a href="/#what_we_do">What we do</a></li>
                <li><a href="/#technologies">Technologies</a></li>
                <li><a href="/#case_study">Case Study</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-shadow"></div>
    <nav id="nav-mobile"></nav>
</header>