.article-section {
  font-size: 18px;
  border-bottom: 0;
  text-align: left;

  &__content {
    max-width: 860px;
  }

  h1 {
    font-size: 45px;
    font-weight: 700;

    &:not(:first-child) {
      margin: 50px 0 0;
    }

    & + h2 {
      margin: 20px 0 0;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    margin: 50px 0 0;
  }

  h3 {
    font-size: 25px;
    margin: 50px 0 0;
  }

  figure {
    margin: 70px 0;;
    width: 100%;
  }

  p {
    &:not(:first-child) {
      margin: 50px 0 0;
    }
  }

  a {
    background-color: $blue;

    &:hover {
      text-decoration: none;
      padding: 1px 3px;
      margin: -1px -3px;
    }
  }

  ul {
    margin: 50px 0 0;
  }

  li {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}

@include mobile {
  .article-section {
    font-size: 14px;

    h1 {
      font-size: 40px;
    }
  }
}

@include sm-mobile {
  .article-section {
    h1 {
      font-size: 27px;

      &:not(:first-child) {
        margin: 30px 0 0;
      }
    }

    h2 {
      font-size: 21px;
      line-height: 32px;
      margin: 30px 0 0;
    }

    h3 {
      font-size: 18px;
      margin: 30px 0 0;
    }

    p {
      font-size: 14px;

      &:not(:first-child) {
        margin: 30px 0 0;
      }
    }

    ul {
      margin: 30px 0 0;
    }

    li {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    figure {
      margin: 40px 0;
    }
  }
}
