.article-section {
  border-bottom: 0;
  padding-top: $header-content-height;
  text-align: left;

  &__content {
    max-width: 700px;
  }

  img {
  	width: 100%;
  	margin-bottom: 30px;
  }

  h1 {
    font-size: $article-title-fontsize;
    font-weight: $article-title-fontweight;
    margin: 0 0 20px;
  }

  h2 {
    font-size: $article-subtitle-fontsize;
  	font-weight: $article-subtitle-fontweight;
    line-height: $article-subtitle-lineheight;
    margin: 0 0 20px;
  }
}

@include tablet {
  .article-section {
    padding-top: $md-header-content-height;
  }
}

@include mobile {
  .article-section {
    h1 {
      font-size: $sm-article-title-fontsize;
    }
  }
}

@include sm-mobile {
  .article-section {
    h1 {
      font-size: $xs-article-title-fontsize;
    }

    h2 {
      font-size: $xs-article-subtitle-fontsize;
      line-height: $xs-article-subtitle-lineheight;
    }

    p {
      font-size: 14px;
      margin: 0 0 10px;
    }
  }
}
