.article-section {
  border-bottom: 0;
  text-align: left;

  &__content {
    max-width: 860px;
  }

  h1 {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 20px;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    margin: 0;
  }

  h3 {
    font-size: 25px;
    margin: 0 0 50px;
  }

  p {
    margin: 0 0 50px;

    &:last-child {
      margin: 0;
    }
  }

  img {
    width: 100%;
    margin: 70px 0;
  }

  a {
    background-color: $blue;

    &:hover {
      text-decoration: none;
      padding: 1px 3px;
      margin: -1px -3px;
    }
  }
}

@include mobile {
  .article-section {
    h1 {
      font-size: 40px;
    }
  }
}

@include sm-mobile {
  .article-section {
    h1 {
      font-size: 27px;
    }

    h2 {
      font-size: 21px;
      line-height: 32px;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
      margin: 0 0 30px;
    }

    img {
      margin: 40px 0;
    }
  }
}
