.blog-section {
  &__content {
    overflow: hidden;
  }

  &__items {
    margin-right: -60px;
  }

  &__item {
    padding: 0 60px 0 0;
  }
}

@include tablet {
  .blog-section {
    &__items {
      margin-right: -20px;
    }

    &__item {
      padding: 0 20px 0 0;
    }
  }
}

@include mobile {
  .blog-section {
    &__items {
      margin-right: 0;
    }

    &__item {
      padding: 0;

      &:nth-child(n+2) {
        margin: 50px auto 0;
      }
    }
  }
}
