.case-study-section {
  background-color: $grey-100;

  &__content {
    max-width: 990px;
    position: relative;

    &::after {
      background-color: $white;
      content: '';
      display: block;
      height: 100%;
      left: 25px;
      position: absolute;
      top: -20px;
      width: 100%;
      z-index: 0;
    }
  }

  &__wrapper {
    border: 4px dotted $grey-800;
    position: relative;
    z-index: 1;
  }

  &__items {
    margin: 0 auto;
    max-width: 740px;
  }

  &__item {
    // temp
    &:last-child {
      display: none;
    }
  }

  &__sliders {
    line-height: 8px;
    margin: 30px 0 0;
    text-align: center;
  }

  &__slider {
    background-color: $grey-500;
    border-radius: 100%;
    display: inline-block;
    height: 8px;
    margin: 0 5px;
    vertical-align: center;
    width: 8px;

    &_active {
      background-color: $grey-800;
    }

    // temp
    &:first-child {
      background-color: $grey-800;
    }
  }
}
