.case-study-section {
  background-color: $grey-100;

  &__content {
    max-width: 990px;
    position: relative;
  }

  &__items {
    margin: 0 auto;
    max-width: 740px;
  }

  &__sliders {
    line-height: 8px;
    margin: 30px auto 0;
    max-width: 740px;
    padding: 0 75px;
    text-align: right;
  }

  &__slider {
    background-color: $grey-500;
    border-radius: 100%;
    display: inline-block;
    height: 8px;
    margin: 0 5px;
    vertical-align: center;
    width: 8px;

    &_active {
      background-color: $grey-800;
    }
  }
}

@include mobile {
  .case-study-section {
    &__sliders {
      text-align: center;
    }
  }
}
