.contact-section {
  text-align: center;

  &__title {
    font-size: 55px;
    margin: 0;

    span {
      background-image: linear-gradient(to bottom, $blue 60%, transparent 35%);
      display: inline-block;
    }
  }

  &__content {
    max-width: 600px;
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 0;
    text-align: center;
  }

  &__form {
    margin: 60px 0 0;
  }

  &__actions {
    margin: 100px 0 0;
  }
}

@include mobile {
  .contact-section {
    &__text {
      margin: 0 0 20px;
    }

    &__action {
      font-size: 16px;
    }
  }
}
