.contact-section {
  text-align: center;

  &__wrapper {
    position: relative;

    &::after {
      background-color: $grey-800;
      bottom: 120px;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: -30px;
      top: -30px;
      z-index: 0;
    }
  }

  &__content {
    background-color: $white;
    background-image: url('/img/backgrounds/contact.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 55px;
    margin: 0;

    span {
      background-image: linear-gradient(to bottom, $blue 60%, transparent 35%);
      display: inline-block;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 32px;
    margin: 20px 0 0;
    text-align: center;
  }

  &__form-wrapper {
    margin: 0 auto;
    max-width: 600px;
  }

  &__form {
    margin: 60px 0 0;
  }

  &__actions {
    margin: 100px 0 0;
  }
}

@include tablet {
  .contact-section {
    background-image: url('/img/backgrounds/contact.svg');
    background-repeat: no-repeat;
    background-size: auto 600px;
    background-position: top center;

    &__content {
      background-color: transparent;
      background-image: none;
    }

    &__title {
      font-size: 32px;
    }

    &__text {
      font-size: 15px;
      line-height: 25px;
      margin: 20px 0 0;
    }

    &__action {
      font-size: 16px;
      margin: 80px 0 0;
    }

    &__wrapper {
      &::after {
        display: none;
      }
    }
  }
}

@include mobile {
  .contact-section {
    background-image: url('/img/backgrounds/mobile/contact.svg');
    background-size: 100% auto;
  }
}
