.contact-section {
  background-image: url("/img/hintergrund-kontakt.svg");
  min-height: 100vh;

  &__content {
    min-height: 100vh;
    max-width: 600px;
  }

  &__text {
    margin: 0 0 30px;
  }

  &__actions {
    margin: 40px 0 0;
  }

  &__action {
    color: $blue;
    font-size: 18px;

    &:hover {
      color: $red;
    }
  }

  &__action-icon {
    margin: 0 0 0 7px;
  }
}

@include mobile {
  .contact-section {
    &__text {
      margin: 0 0 20px;
    }

    &__action {
      font-size: 16px;
    }
  }
}
