.footer {
	background: $grey-800;
	color: $white;
  font-size: 13px;

	&__column {
		padding: 0 10px;
	}

	&__subtitle {
		color: $grey-200;
		font-size: 13px;
		font-weight: 400;
		margin: 0;
		text-transform: uppercase;
	}

	&__text {
		font-size: 13px;
		line-height: 27px;
		margin: 10px 0 0;
	}

  &__description {
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  &__link {
    color: $blue;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

  &__social {
		color: $white;
    display: inline-block;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
  }

	&__logo {
		max-width: 170px;
	}

	&__social-icon {
		font-size: 18px;
	}
}

@include mobile {
  .footer {
		&__column {
			padding: 0;
		}
  }
}
