.hero-section {
  &__content {
    background-image: url('/img/backgrounds/hero.svg');
    background-repeat: no-repeat;
    background-position: center -#{$header-content-height};
    background-size: 100%;
  }

  &__thumb-content {
    background-image: url('/img/graphics/hero.svg');
    background-repeat: no-repeat;
    background-size: 33.3333%;
    background-position: right 30px center;
    min-height: 85vh;
    padding-bottom: 250px;
    padding-top: 250px;
  }

  &__title {
    font-size: 54px;
    font-weight: bold;
    margin: 0;
    position: relative;
    z-index: 1;

    span {
      background-image: linear-gradient(to bottom, $blue 60%, transparent 35%);
    }
  }

  &__copy {
    display: inline-block;
    font-size: 18px;
    line-height: 1.8;
    margin: 40px 50px 0 0;
  }

  &__actions {
    margin: 50px 0 0;
  }
}

@include desktop {
  .hero-section {
    &__thumb-content {
      padding-bottom: 200px;
      padding-top: 200px;
    }
  }
}

@include tablet {
  .hero-section {
    background-image: url('/img/backgrounds/hero.svg');
    background-repeat: no-repeat;
    background-position: center -250px;
    background-size: auto 100%;
    position: relative;
    text-align: center;

    &__content {
      background-image: url('/img/backgrounds/mobile/hero-1.svg');
      background-position: right center;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }

    &__thumb-content {
      background-image: url('/img/backgrounds/mobile/hero-2.svg');
      background-size: 12% auto;
      background-repeat: no-repeat;
      background-position: 20px 20px;
    }

    &__title {
      font-size: 32px;
      line-height: 45px;
    }

    &__copy {
      margin: 50px 0 0;
    }
  }
}

@include mobile {
  .hero-section {
    background-image: url('/img/backgrounds/mobile/hero.svg');
    background-size: 100% auto;
    background-position: center top;

    &__thumb-content {
      background-size: 70px auto;
      padding-bottom: 60px;
      padding-top: 60px;
    }

    &__title {
      margin: 0 auto;
      max-width: 210px;
    }

    &__copy {
      font-size: 15px;
      margin: 20px 0 0;
    }
  }
}
