.hero-section {
  background-image: url('/img/backgrounds/hero.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  &__content {
    background-image: url('/img/graphics/hero.svg');
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: right 30px center;

    padding-bottom: 130px;
    padding-top: 130px + $header-content-height;
  }

  &__title-wrapper {
    display: inline-block;
    max-width: 580px;
    position: relative;

    &::after {
      background-color: $blue;
      bottom: 20px;
      content: '';
      display: inline-block;
      left: -7px;
      position: absolute;
      right: -7px;
      top: 0px;
      z-index: 0;
    }
  }

  &__title {
    display: inline-block;
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    position: relative;
    z-index: 1;
  }

  &__copy {
    display: inline-block;
    font-size: 14px;
    line-height: 1.8;
    margin: 40px 0 0;
  }

  &__actions {
    margin: 50px 0 0;
  }
}

@include desktop {
  .hero-section {
    &_desktop {

    }
  }
}

@include mobile {
  .hero-section {
    &__content {
      padding-bottom: 50px;
      padding-top: 50px + $header-content-height;
    }

    &__title {
      margin: 0 0 20px;
      text-align: left;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 30px;
      margin: 0 0 20px;
      text-align: left;
    }
  }
}
