.hero-section {
  background-image: url('/img/backgrounds/hero.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1800px;

  &__content {
    background-image: url('/img/graphics/hero.svg');
    background-repeat: no-repeat;
    background-size: 550px;
    background-position: right 30px center;

    padding-bottom: 220px;
    padding-top: 220px;
  }

  &__title {
    font-size: 54px;
    font-weight: bold;
    margin: 0;
    position: relative;
    z-index: 1;

    span {
      background-image: linear-gradient(to bottom, $blue 60%, transparent 35%);
    }
  }

  &__copy {
    display: inline-block;
    font-size: 18px;
    line-height: 1.8;
    margin: 40px 0 0;
  }

  &__actions {
    margin: 50px 0 0;
  }
}

@include all-desktop {
  .hero-section {
    &__content {
    }
  }
}

@include mobile {
  .hero-section {
    &__content {
      padding-bottom: 50px;
      padding-top: 50px;
    }

    &__title {
      margin: 0 0 20px;
      text-align: left;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 30px;
      margin: 0 0 20px;
      text-align: left;
    }
  }
}
