.intro-section {
  background-color: $grey-100;

  &__caption {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  &__title {
    font-size: 56px;
    margin: 30px 0 0;

    span {
      background-image: linear-gradient(to bottom, $blue 60%, transparent 35%);
    }
  }
}

@include tablet {
  .intro-section  {
    &__caption {
      font-size: 18px;
    }

    &__title {
      font-size: 35px;
      margin: 20px 0 0;
    }
  }
}
