.section {
  &__content {
    margin: 0 auto;
    max-width: $section-content-max-width;
    position: relative;
  }

  &__title {
    background-color: $grey-800;
    color: $white;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    padding: 9px 26px;
  }

  &__subtitle {
    font-size: 27px;
    font-weight: bold;
  }

  &__actions {
    text-align: right;
  }

  &__action {
    @include transition(all .3s);
    border-bottom: 3px solid transparent;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    text-transform: uppercase;

    &:hover {
      border-bottom: 3px solid $grey-800;
      text-decoration: none;
    }
  }
}

@include mobile {
  .section {
    &__title {
      font-size: 18px;
    }

    &__subtitle {
      font-size: 21px;
    }

    &__actions {
      text-align: center;
    }
  }
}
