.section {
  &__content {
    margin: 0 auto;
    max-width: $section-content-max-width;
    position: relative;

    &_wide {
      max-width: $section-content-wide-max-width;
    }
  }

  &__title {
    font-size: $section-title-font-size;
    margin: 0 0 40px;
  }

  &__subtitle {
    font-size: $section-subtitle-font-size;
    font-weight: bold;
  }
}

@include mobile {
  .section {
    &__title {
      font-size: $sm-section-title-font-size;
      margin: 0 0 20px;
    }

    &__subtitle {
      font-size: $sm-section-subtitle-font-size;
    }
  }
}
