.section {
  &__content {
    margin: 0 auto;
    max-width: $section-content-max-width;
    position: relative;

    &_wide {
      max-width: $section-content-wide-max-width;
    }
  }

  &__header {
    text-align: center;
  }

  &__title {
    border-bottom: 4px solid $grey-800;
    border-top: 4px solid $grey-800;
    display: inline-block;
    font-size: $section-title-font-size;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    padding: 4px 0;
  }

  &__subtitle {
    font-size: $section-subtitle-font-size;
    font-weight: bold;
  }

  &__actions {
    text-align: center;
  }

  &__action {
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    text-transform: uppercase;

    &:hover {
      border-bottom: 2px solid $grey-800;
      text-decoration: none;
    }
  }
}

@include mobile {
  .section {
    &__title {
      font-size: $sm-section-title-font-size;
    }

    &__subtitle {
      font-size: $sm-section-subtitle-font-size;
    }
  }
}
