.technologies-section {
  background-color: $grey-100;
  text-align: center;

  &__content {
    max-width: 700px;
  }

  &__item {
    margin: 0;
  }
}

@include only-tablet {
  .technologies-section {
    &__item {
      &:nth-child(n+5) {
        margin: 40px 0 0;
      }
    }
  }
}

@include mobile {
  .technologies-section {
    background-image: none;

    &__item {
      margin: 0 auto;

      &:nth-child(n+2) {
        margin: 40px auto 0;
      }
    }
  }
}
