.wu-section {
  &__card-wrapper {
    &::after {
      background-color: $grey-800;
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      left: 30px;
      top: -30px;
      width: 100%;
      z-index: 0;
    }
  }

  &__card {
    background-color: $white;
    padding: 20px;

    &_border {
      border: 4px solid $grey-800;
      position: relative;
      z-index: 1;
      padding: 150px 90px;
    }
  }

  &__thumb {
    text-align: center;
  }

  &__image {
    width: 350px;
  }

  &__caption-content {
    margin: 0 auto;
    max-width: 600px;
  }

  &__subtitle {
    font-size: 32px;
    margin: 0;
    position: relative;
    z-index: 1;

    span {
      background-image: linear-gradient(to bottom, $blue 60%, transparent 35%);
    }
  }

  &__copy {
    margin: 30px 0 0;
    font-size: 18px;
    line-height: 2;
  }
}

@include mobile {
  .wu-section {
    &__thumb {
      padding: 0;
    }

    &__caption {
      padding: 0;
    }
  }
}
