.wu-section {
  background-repeat: no-repeat;

  &_2 {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  &__card-wrapper {
    &::after {
      background-color: $grey-800;
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      left: 30px;
      top: -30px;
      width: 100%;
      z-index: 0;
    }
  }

  &__card {
    padding: 20px;

    &_border {
      background-color: $white;
      border: 4px solid $grey-800;
      position: relative;
      z-index: 1;
      padding: 150px 90px;
    }
  }

  &__thumb {
    text-align: center;
  }

  &__image {
    width: 350px;
  }

  &__caption-content {
    margin: 0 auto;
    max-width: 600px;
  }

  &__subtitle {
    font-size: 33px;
    margin: 0;
    position: relative;
    z-index: 1;

    span {
      background-image: linear-gradient(to bottom, $blue 60%, transparent 35%);
    }
  }

  &__copy {
    margin: 30px 0 0;
    font-size: 16px;
    line-height: 2;
  }
}

@include tablet {
  .wu-section {
    &_2 {
      padding-bottom: 60px;
      padding-top: 60px;
    }

    &__card-wrapper {
      &::after {
        display: none;
      }
    }

    &__card {
      padding: 60px 20px;

      &_border {
        padding: 60px 20px;
      }
    }

    &__thumb {
      padding: 0 0 50px;
    }

    &__image {
      width: 250px;
      margin: 0 auto;
    }

    &__subtitle {
      font-size: 27px;
    }

    &__caption {
      padding: 0;
    }

    &__copy {
      font-size: 16px;
      margin: 20px 0 0;
    }
  }
}

@include mobile {
  .wu-section {
    &_1 {
      background-image: url('/img/backgrounds/mobile/hero.svg');
    }

    &_2 {
      padding-bottom: 20px;
      padding-top: 20px;
    }

    &_3 {
      background-image: url('/img/backgrounds/mobile/why-us-2.svg');
    }

    &__content_1 {
      background-image: url('/img/backgrounds/mobile/why-us-1.svg');
      background-position: bottom;
      background-repeat: no-repeat;
    }
  }
}
