/* HEADER
============================================================ */

.header-shadow {
	height: 30px;
	width: 100%;
	position: absolute;
	z-index: 10;
	background-image: 		url(/img/shadow.png);
	background-size: 		100% auto;
	background-position: 	top center;
	background-repeat: 		no-repeat;
}

a.active {
	color: #CF3800;
}

.logo {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	/*height: 100%;*/
  	width: 30%;
  	text-align: left;
}

.logo img {
	height: 30px;
}

/*.logo::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}*/

ul.navigation.expanded {
	width: 100%;
}

.logo img {
  width: 200px;
}
