/* GENERAL
============================================================ */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
	color: $grey-800;
	text-decoration: none;

  &:hover {
    color: $red;
  }
}

a:hover {
	color: #CF3800;
}

h1 {
	font-size: 60px;
	font-weight: normal;
	margin: 0 0 40px 0;
}

h2 {
	font-size: 45px;
	font-weight: normal;
}

h3 {
	font-size: 28px;
	line-height: 45px;
	font-weight: normal;
	margin: 0;
}

p {
	font-size: 18px;
	line-height: 33px;
	margin-top: 0;
}

button {
	font-weight: bold;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding: 15px 0;
	width: 250px;
	cursor: pointer;
	margin: 0 5px;
}

button.blue:hover,
button.gray:hover {
	 background: #CF3800;
}

button.blue {
	background: rgba(108, 255, 255, 1);
}

button.gray {
	color: #fff;
	background: rgba(63, 57, 54, 1);
}

hr {
	height: 1px;
	color: #ddd;
	background: #ddd;
	font-size: 0;
	border: 0;
	width: 100%;
	margin: 40px 0;
}

.desktop {
	display: block;
}

.mobile-big {
	display: none;
}

.mobile-small {
	display: none;
}

.fas {
	margin-right: 5px;
}


/* ALL CONTENT SECTIONS
============================================================ */

section {
	position: relative;
	outline: 0;
	border-bottom: #ddd 1px solid;
	/*background-size: 		cover,
							100% auto;
    background-position: 	50% 50%,
    						top center;
    background-repeat: 		no-repeat;*/
	background-size: 		cover;
    background-position: 	50% 50%;
    background-repeat: 		no-repeat;
}

section#start,
section#technologies,
section#team {
	min-height: 634px;
}

.section-container {
	position: absolute;
}

section a {
	color: #05ABC1;
	font-weight: bold;
}

/* SECTION 01 -- START
============================================================ */

#start {
	height: 100vh;
	/*background-image: 		url(/img/Illustrationsandgraphics-03.svg),
							url(/img/Illustrationsandgraphics-01.svg);*/

	background-image: 		url(/img/Illustrationsandgraphics-03.svg);
}

section#start {
	margin-top: 0;
	background-position: 74% 50%;
}

#start h1,
#start h2 {
	margin-bottom: 30px;
}

/* SECTION 02 -- WHAT WE DO
============================================================ */

#what_we_do {
	height: 2600px;
	/*background-image: 		url(/img/Illustrationsandgraphics-01.svg);
	background-size: 		100% auto;
	background-position: 	top center;*/
}

#what_we_do img {
	width: 100%;
	margin-bottom: 30px;
}

#what_we_do .how-it-works img {
	margin-bottom: 10px;
}

#what_we_do h3 {
	margin-bottom: 30px;
}

.one-fourth,
.two-fourth,
.three-fourth,
.four-fourth {
	width: 23%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 40px;
}

.one-fourth,
.two-fourth,
.three-fourth {
	margin-right: 2%;
}


/* SECTION 03 -- TECHNOLOGIES
============================================================ */

#technologies {
	height: 100vh;
	/*background-image: 		url(/img/Illustrationsandgraphics-02.svg),
							url(/img/Illustrationsandgraphics-01.svg);*/
	background-image: 		url(/img/Illustrationsandgraphics-02.svg);
}

#technologies img {
	width: 100%;
}

#technologies h3 {
	margin-bottom: 60px;
}

#technologies .mobile-small img {
	width: 70%;
}

/* SECTION 04 -- case_study
============================================================ */

#case_study {
	height: 100vh;
	/*background-image: 		url(/img/Illustrationsandgraphics-01.svg);
	background-size: 		100% auto;
	background-position: 	top center;*/
}

#case_study img {
	width: 15%;
	margin-bottom: 60px;
}

#case_study h3 {
	margin-bottom: 60px;
}

/* SECTION 05 -- CONTACT
============================================================ */

#contact {
	min-height: 850px;
	height: 100vh;
	/*background-image: 		url(/img/Illustrationsandgraphics-05.svg),
							url(/img/Illustrationsandgraphics-01.svg);*/
	background-image: 		url(/img/hintergrund-kontakt.svg);
}

section#contact {
	min-height: 800px;
}

p.contact-blurb {
	margin-bottom: 40px;
}

p.back-to-top {
	margin-top: 40px;
}

#contact .fa-angle-up {
	margin-left: 7px;
}

#contact .name-field,
#contact .email-field {
	width: 48%;
	display: inline-block;
}

#contact .name-field {
	margin-right: 1%;
}

#contact .email-field {
	margin-left: 1%;
}

#contact input[type=text],
#contact input[type=email] {
	width: 96%;
	margin-bottom: 30px;
	padding: 5px 2%;
}

#contact textarea {
	width: 96%;
	padding: 5px 2%;
	height: 100px;
	margin-bottom: 30px;
}

#contact input[type=text],
#contact input[type=email],
#contact textarea {
	border: 1px #3f3936 solid;
	margin-top: 10px;
	outline-color: #00FFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 33px;
	color: #3f3936;
}

#contact #formBlock {
	text-align: left;
	font-size: 18px;
}

#contact #formBlock .submit-button {
	text-align: right;
}

#contact input[type=submit] {
	font-weight: normal;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	padding: 15px;
	width: auto;
	cursor: pointer;
	margin: 0;
	color: #fff;
	outline-color: #00FFFF;
	background: rgba(63, 57, 54, 1);
}

#contact input[type=submit]:hover {
	 background: #CF3800;
}

#contact #formBlock .fas {
	color: #13BA7A;
}

/* ARTICLE SECTIONS
============================================================ */

section#article .section-container {
	position: relative;
}

section#article img {
	width: 100%;
	margin-bottom: 30px;
}

body section#article {
	margin: 0 auto;
	text-align: left;
	margin-bottom: 120px;
	margin-top: 120px;
	border-bottom: 0;
}

section#article h3 {
	font-weight: 700;
	margin-bottom: 30px;
	font-size: 25px;
	line-height: 35px;
}

/* HEADER
============================================================ */

.header-shadow {
	height: 30px;
	width: 100%;
	position: absolute;
	z-index: 10;
	background-image: 		url(/img/shadow.png);
	background-size: 		100% auto;
	background-position: 	top center;
	background-repeat: 		no-repeat;
}

a.active {
	color: #CF3800;
}

.logo {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	/*height: 100%;*/
  	width: 30%;
  	text-align: left;
}

.logo img {
	height: 30px;
}

/*.logo::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}*/

ul.navigation.expanded {
	width: 100%;
}

.logo img {
  width: 200px;
}


/* FOOTER
============================================================ */

.footer {
	background: #3f3936;
	color: #fff;
	margin-bottom: 0;
	padding: 15vh 0;
}

.footer p {
	font-size: 13px;
	line-height: 27px;
}

.footer a {
	color: #00FFFF;
}

.footer a:hover {
	color: #CF3800;
}

.follow-us {
	margin-bottom: 50px;
}

p .fa-linkedin {
	font-size: 40px;
}

.footer img {
	width: 320px;
	margin-bottom: 20px;
}

p.large-footer-text {
	font-size: 23px;
	margin-top: 0;
	margin-bottom: 50px;
}

p.copyright {
	margin-top: 50px;
}
