@media (max-width: 767px) and (min-width: 500px) {

	h1 {
		font-size: 40px;
		margin-bottom: 35px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 25px;
		line-height: 40px
	}

	ul.navigation {
		display: none;
	}

	.logo {
		text-align: left;
		margin-left: 20px;
		margin-top: 10px;
		float: left;
	}

	.logo-link {
		float:left;
	}

	.header-container {
		text-align: left;
	}
}

@media (max-width: 499px) {
	ul.navigation {
		display: none;
	}

	.header-container {
		text-align: left;
	}

	.logo {
		text-align: left;
		margin-left: 0px;
		margin-top: 10px;
		float: left;
	}

	.logo-link {
		float:left;
	}

	h1 {
		font-size: 35px;
		margin: 0 0 20px 0;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 22px;
		line-height: 38px;
	}

	p {
		font-size: 16px;
		line-height: 28px;
	}

	.logo img {
		height: 25px;
	}
}
