@media (max-width: 1600px) and (min-width: 1024px) {
	section#article {
		width: 700px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	section#article {
		width: 600px;
	}
}

@media (max-width: 767px) and (min-width: 500px) {

	h1 {
		font-size: 40px;
		margin-bottom: 35px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 25px;
		line-height: 40px
	}

	ul.navigation {
		display: none;
	}

	section#article {
		width: 90%;
	}

	.desktop {
		display: none;
	}

	.mobile-big {
		display: block;
	}

	.mobile-small {
		display: none;
	}

	.logo {
		text-align: left;
		margin-left: 20px;
		margin-top: 10px;
		float: left;
	}

	.logo-link {
		float:left;
	}

	.header-container {
		text-align: left;
	}
}

@media (max-width: 499px) {

	.section-container {
		width: 262px;
	    left: 50%;
	    margin-left: -131px;
		margin-bottom: 0;
	}

	section#article {
		width: 92%;
	}

	section#article .section-container {
		width: 100%;
		left: 0;
		margin-left: 0;
	}

	ul.navigation {
		display: none;
	}

	.desktop {
		display: none;
	}

	.mobile-big {
		display: none;
	}

	.mobile-small {
		display: block;
	}

	.header-container {
		text-align: left;
	}

	.logo {
		text-align: left;
		margin-left: 0px;
		margin-top: 10px;
		float: left;
	}

	.logo-link {
		float:left;
	}

	h1 {
		font-size: 35px;
		margin: 0 0 20px 0;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 22px;
		line-height: 38px;
	}

	p {
		font-size: 16px;
		line-height: 28px;
	}

	.logo img {
		height: 25px;
	}
}
