@media (min-width: 3001px) {

	#start .section-container {
	    top: 50%;
	    height: 66%;
	    margin-top: -14%; 
	    margin-bottom: 0;
	    width: 1500px;
	    left: 50%;
	    margin-left: -700px;
	}

	#what_we_do {
		height: 5050px;
	}

	#what_we_do .section-container {
		top: 50%;
		height: 4790px;
		margin-top: -2395px;
		margin-bottom: 0;
		width: 1500px;
		left: 50%;
		margin-left: -750px;
	}

	#technologies .section-container {
	    top: 50%;
	    height: 880px;
	    margin-top: -440px; 
	    margin-bottom: 0;
	    width: 1400px;
	    left: 50%;
	    margin-left: -700px;
	}

	#case_study .section-container {
	    top: 50%;
	    height: 500px;
	    margin-top: -250px; 
	    margin-bottom: 0;
	    width: 900px;
	    left: 50%;
	    margin-left: -450px;
	}

	#contact .section-container {
	    top: 50%;
	    height: 1030px;
	    margin-top: -515px; 
	    margin-bottom: 0;
	    width: 1400px;
	    left: 50%;
	    margin-left: -700px;
	}

	section#article {
		width: 1400px;
	}

	#nav-main {
		width: 86%;
		margin: 0 auto;
		padding-top: 10px;
	}

	.logo img {
		width: 400px;
		height: auto;
	}

	ul.navigation li {
		font-size: 32px;
		margin-left: 60px;
	}

	ul.navigation {
		margin: 28px 0;
	}

	h1 {
		font-size: 100px;
	}

	h2 {
		font-size: 70px;
	}

	h3 {
		font-size: 45px;
		line-height: 85px;
	}

	section#article h3 {
		font-size: 45px;
		line-height: 65px;
	}

	p {
		font-size: 36px;
		line-height: 65px;
	}

	#contact #formBlock {
		font-size: 36px;
	}

	#contact input[type=text], 
	#contact input[type=email], 
	#contact textarea {
		font-size: 36px;
		line-height: 65px;
	}

	#contact input[type=submit] {
		font-size: 36px;
	}

	#contact textarea {
		height: 250px;
	}

	#technologies h3 {
		margin-bottom: 150px;
	}

	.one-fourth, 
	.two-fourth, 
	.three-fourth, 
	.four-fourth {
		font-size: 27px;
		line-height: 50px;
	}

	hr {
		margin: 90px 0;
	}

	.footer img {
		width: 380px;
		margin-bottom: 40px;
	}

	p.large-footer-text {
		font-size: 25px;
		margin-bottom: 50px;
	}

	p .fa-linkedin {
		font-size: 60px;
	}

	.footer p {
		font-size: 23px;
		line-height: 44px;
	}

}

@media (max-width: 3000px) and (min-width: 2501px) {

	#start .section-container {
	    top: 50%;
	    height: 66%;
	    margin-top: -14%; 
	    margin-bottom: 0;
	    width: 1500px;
	    left: 50%;
	    margin-left: -700px;
	}

	#what_we_do {
		height: 5050px;
	}

	#what_we_do .section-container {
		top: 50%;
		height: 4790px;
		margin-top: -2395px;
		margin-bottom: 0;
		width: 1500px;
		left: 50%;
		margin-left: -750px;
	}

	#technologies .section-container {
	    top: 50%;
	    height: 880px;
	    margin-top: -440px; 
	    margin-bottom: 0;
	    width: 1400px;
	    left: 50%;
	    margin-left: -700px;
	}

	#case_study .section-container {
	    top: 50%;
	    height: 500px;
	    margin-top: -250px; 
	    margin-bottom: 0;
	    width: 900px;
	    left: 50%;
	    margin-left: -450px;
	}

	#contact .section-container {
	    top: 50%;
	    height: 1030px;
	    margin-top: -515px; 
	    margin-bottom: 0;
	    width: 1400px;
	    left: 50%;
	    margin-left: -700px;
	}

	section#article {
		width: 1400px;
	}

	#nav-main {
		width: 86%;
		margin: 0 auto;
		padding-top: 10px;
	}

	.logo img {
		width: 400px;
		height: auto;
	}

	ul.navigation li {
		font-size: 32px;
		margin-left: 60px;
	}

	ul.navigation {
		margin: 28px 0;
	}

	h1 {
		font-size: 100px;
	}

	h2 {
		font-size: 70px;
	}

	h3 {
		font-size: 45px;
		line-height: 85px;
	}

	section#article h3 {
		font-size: 45px;
		line-height: 65px;
	}

	p {
		font-size: 36px;
		line-height: 65px;
	}

	#contact #formBlock {
		font-size: 36px;
	}

	#contact input[type=text], 
	#contact input[type=email], 
	#contact textarea {
		font-size: 36px;
		line-height: 65px;
	}

	#contact input[type=submit] {
		font-size: 36px;
	}

	#contact textarea {
		height: 250px;
	}

	#technologies h3 {
		margin-bottom: 150px;
	}

	.one-fourth, 
	.two-fourth, 
	.three-fourth, 
	.four-fourth {
		font-size: 27px;
		line-height: 50px;
	}

	hr {
		margin: 90px 0;
	}

	.footer img {
		width: 380px;
		margin-bottom: 40px;
	}

	p.large-footer-text {
		font-size: 25px;
		margin-bottom: 50px;
	}

	p .fa-linkedin {
		font-size: 60px;
	}

	.footer p {
		font-size: 23px;
		line-height: 44px;
	}

}

@media (max-width: 2500px) and (min-width: 2001px) {

	#start .section-container {
	    top: 50%;
	    height: 66%;
	    margin-top: -14%; 
	    margin-bottom: 0;
	    width: 1500px;
	    left: 50%;
	    margin-left: -700px;
	}

	#what_we_do {
		height: 5050px;
	}

	#what_we_do .section-container {
		top: 50%;
		height: 4790px;
		margin-top: -2395px;
		margin-bottom: 0;
		width: 1500px;
		left: 50%;
		margin-left: -750px;
	}

	#technologies .section-container {
	    top: 50%;
	    height: 880px;
	    margin-top: -440px; 
	    margin-bottom: 0;
	    width: 1400px;
	    left: 50%;
	    margin-left: -700px;
	}

	#case_study .section-container {
	    top: 50%;
	    height: 500px;
	    margin-top: -250px; 
	    margin-bottom: 0;
	    width: 900px;
	    left: 50%;
	    margin-left: -450px;
	}

	#contact .section-container {
	    top: 50%;
	    height: 1030px;
	    margin-top: -515px; 
	    margin-bottom: 0;
	    width: 1400px;
	    left: 50%;
	    margin-left: -700px;
	}

	section#article {
		width: 1400px;
	}

	#nav-main {
		width: 86%;
		margin: 0 auto;
		padding-top: 10px;
	}

	.logo img {
		width: 400px;
		height: auto;
	}

	ul.navigation li {
		font-size: 32px;
		margin-left: 60px;
	}

	ul.navigation {
		margin: 28px 0;
	}

	h1 {
		font-size: 100px;
	}

	h2 {
		font-size: 70px;
	}

	h3 {
		font-size: 45px;
		line-height: 85px;
	}

	section#article h3 {
		font-size: 45px;
		line-height: 65px;
	}

	p {
		font-size: 36px;
		line-height: 65px;
	}

	#contact #formBlock {
		font-size: 36px;
	}

	#contact input[type=text], 
	#contact input[type=email], 
	#contact textarea {
		font-size: 36px;
		line-height: 65px;
	}

	#contact input[type=submit] {
		font-size: 36px;
	}

	#contact textarea {
		height: 250px;
	}

	#technologies h3 {
		margin-bottom: 150px;
	}

	.one-fourth, 
	.two-fourth, 
	.three-fourth, 
	.four-fourth {
		font-size: 27px;
		line-height: 50px;
	}

	hr {
		margin: 90px 0;
	}

	.footer img {
		width: 380px;
		margin-bottom: 40px;
	}

	p.large-footer-text {
		font-size: 25px;
		margin-bottom: 50px;
	}

	p .fa-linkedin {
		font-size: 60px;
	}

	.footer p {
		font-size: 23px;
		line-height: 44px;
	}

}

@media (max-width: 2000px) and (min-width: 1601px) {

	#start .section-container {
	    top: 50%;
	    height: 66%;
	    margin-top: -14%; 
	    margin-bottom: 0;
	    width: 902px;
	    left: 50%;
	    margin-left: -456px;
	}

	#what_we_do {
		height: 3400px;
	}

	#what_we_do .section-container {
		top: 50%;
		height: 3230px;
		margin-top: -1615px;
		margin-bottom: 0;
		width: 900px;
		left: 50%;
		margin-left: -450px;
	}

	#technologies .section-container {
	    top: 50%;
	    height: 536px;
	    margin-top: -268px; 
	    margin-bottom: 0;
	    width: 900px;
	    left: 50%;
	    margin-left: -450px;
	}

	#case_study .section-container {
	    top: 50%;
	    height: 500px;
	    margin-top: -250px; 
	    margin-bottom: 0;
	    width: 730px;
	    left: 50%;
	    margin-left: -365px;
	}

	#contact .section-container {
	    top: 50%;
	    height: 760px;
	    margin-top: -380px; 
	    margin-bottom: 0;
	    width: 860px;
	    left: 50%;
	    margin-left: -430px;
	}

	section#article {
		width: 900px;
	}

	#nav-main {
		width: 80%;
		margin: 0 auto;
		padding-top: 10px;
	}

	.logo img {
		width: 328px;
	}

	.logo img {
		height: 40px;
	}

	ul.navigation li {
		font-size: 21px;
	}

	h1 {
		font-size: 80px;
	}

	h3 {
		font-size: 35px;
		line-height: 60px;
	}

	p {
		font-size: 26px;
		line-height: 47px;
	}

	section#article h3 {
		margin-bottom: 30px;
		font-size: 33px;
		line-height: 48px;
	}

	section#article h2 {
		font-size: 55px;
	}

	#contact #formBlock {
		font-size: 26px;
	}

	#contact input[type=text], 
	#contact input[type=email], 
	#contact textarea {
		font-size: 26px;
		line-height: 47px;
	}

	#contact input[type=submit] {
		font-size: 26px;
	}

	#contact textarea {
		height: 150px;
	}

	.one-fourth, 
	.two-fourth, 
	.three-fourth, 
	.four-fourth {
		font-size: 21px;
		line-height: 36px;
	}

	.footer img {
		width: 380px;
		margin-bottom: 40px;
	}

	p.large-footer-text {
		font-size: 25px;
		margin-bottom: 50px;
	}

	p .fa-linkedin {
		font-size: 52px;
	}

	.footer p {
		font-size: 18px;
		line-height: 35px;
	}

}

@media (max-width: 1600px) and (min-width: 1024px) {
	
	#start .section-container {
	    top: 50%;
	    height: 30%;
	    margin-top: -15%; 
	    margin-bottom: 0;
	    width: 730px;
	    left: 50%;
	    margin-left: -365px;
	}

	#what_we_do .section-container {
		top: 50%;
		height: 2480px;
		margin-top: -1240px;
		margin-bottom: 0;
		width: 720px;
		left: 50%;
		margin-left: -360px;
	}

	#technologies .section-container {
	    top: 50%;
	    height: 420px;
	    margin-top: -210px; 
	    margin-bottom: 0;
	    width: 650px;
	    left: 50%;
	    margin-left: -325px;
	}

	#case_study .section-container {
	    top: 50%;
	    height: 500px;
	    margin-top: -250px; 
	    margin-bottom: 0;
	    width: 598px;
	    left: 50%;
	    margin-left: -299px;
	}

	#contact .section-container {
	    top: 50%;
	    height: 600px;
	    margin-top: -280px; 
	    margin-bottom: 0;
	    width: 586px;
	    left: 50%;
	    margin-left: -293px;
	}

	section#article {
		width: 700px;
	}

	#nav-main {
		width: 80%;
		margin: 0 auto;
	}

}

@media (max-width: 1023px) and (min-width: 768px) {

	#start .section-container {
	    top: 50%;
	    height: 60%;
	    margin-top: -30%; 
	    margin-bottom: 0;
	    width: 566px;
	    left: 50%;
	    margin-left: -283px;
	}

	#what_we_do .section-container {
		top: 50%;
		height: 2480px;
		margin-top: -1240px;
		margin-bottom: 0;
		width: 652px;
		left: 50%;
		margin-left: -326px;
	}

	#technologies .section-container {
	    top: 50%;
	    height: 420px;
	    margin-top: -210px; 
	    margin-bottom: 0;
	    width: 650px;
	    left: 50%;
	    margin-left: -325px;
	}

	#case_study .section-container {
	    top: 50%;
	    height: 500px;
	    margin-top: -250px; 
	    margin-bottom: 0;
	    width: 598px;
	    left: 50%;
	    margin-left: -299px;
	}

	#contact .section-container {
	    top: 50%;
	    height: 630px;
	    margin-top: -315px; 
	    margin-bottom: 0;
	    width: 586px;
	    left: 50%;
	    margin-left: -293px;
	}

	section#article {
		width: 600px;
	}

	#nav-main {
		width: 95%;
		margin: 0 auto;
	}

}

@media (max-width: 767px) and (min-width: 500px) {

	h1 {
		font-size: 40px;
		margin-bottom: 35px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 25px;
		line-height: 40px
	}

	ul.navigation {
		display: none;
	}

	#what_we_do {
		height: 2900px;
	}

	#start .section-container {
	    top: 50%;
	    height: 70%;
	    margin-top: -35%; 
	    margin-bottom: 0;
	    width: 400px;
	    left: 50%;
	    margin-left: -200px;
	}

	#what_we_do .section-container {
		top: 50%;
		height: 2800px;
		margin-top: -1400px;
		margin-bottom: 0;
		width: 400px;
		left: 50%;
		margin-left: -200px;
	}

	#technologies .section-container {
	    top: 50%;
	    height: 510px;
	    margin-top: -250px; 
	    margin-bottom: 0;
	    width: 400px;
	    left: 50%;
	    margin-left: -200px;
	}

	#case_study .section-container {
	    top: 50%;
	    height: 500px;
	    margin-top: -250px; 
	    margin-bottom: 0;
	    width: 400px;
	    left: 50%;
	    margin-left: -200px;
	}

	#contact .section-container {
	    top: 50%;
	    height: 632px;
	    margin-top: -316px; 
	    margin-bottom: 0;
	    width: 400px;
	    left: 50%;
	    margin-left: -200px;
	}

	section#article {
		width: 90%;
	}

	#contact button {
		margin-bottom: 30px;
	}

	.desktop {
		display: none;
	}

	.mobile-big {
		display: block;
	}

	.mobile-small {
		display: none;
	}

	.logo {
		text-align: left;
		margin-left: 20px;
		margin-top: 10px;
		float: left;
	}

	.logo-link {
		float:left;
	}

	.header-container {
		text-align: left;
	}

	.one-fourth,
	.two-fourth,
	.three-fourth,
	.four-fourth {
		width: 48%;
	}

	.one-fourth,
	.three-fourth {
		margin-right: 1.25%;
		margin-left: 0;
	}

	.two-fourth,
	.four-fourth {
		margin-right: 0;
		margin-left: 1.25%;
	}

	#nav-trigger {
		padding: 0 20px;
	}

	section#start,
	section#technologies,
	section#case_study,
	section#contact {
		min-height: 730px;
	}

}

@media (max-width: 499px) {

	.section-container {
		width: 262px;
	    left: 50%;
	    margin-left: -131px;
		margin-bottom: 0;
	}

	#case_study img {
		width: 100px;
		margin-bottom: 40px;
	}

	#case_study .section-container {
		margin-top: 80px;
	}

	#case_study h3 {
		margin-bottom: 40px;
	}

	#start .section-container {
		top: 50%;
		height: 520px;
		margin-top: -260px;
	}

	#technologies .section-container {
	    top: 50%;
	    height: 618;
	    margin-top: -309px; 
	}

	#contact .section-container {
	    top: 50%;
	    height: 610px;
	    margin-top: -305px; 
	}

	section#article {
		width: 92%;
	}

	section#article .section-container {
		width: 100%;
		left: 0;
		margin-left: 0;
	}

	ul.navigation {
		display: none;
	}

	.desktop {
		display: none;
	}

	.mobile-big {
		display: none;
	}

	.mobile-small {
		display: block;
	}

	.header-container {
		text-align: left;
	}

	.logo {
		text-align: left;
		margin-left: 0px;
		margin-top: 10px;
		float: left;
	}

	.logo-link {
		float:left;
	}

	#contact .name-field,
	#contact .email-field {
		width: 100%;
		display: block;
		margin-right: 0;
		margin-left: 0;
	}

	h1 {
		font-size: 35px;
		margin: 0 0 20px 0;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 22px;
		line-height: 38px;
	}

	p.contact-blurb {
		margin-bottom: 20px;
	}

	p {
		font-size: 16px;
		line-height: 28px;
	}

	p.back-to-top {
		margin-top: 20px;
		margin-bottom: 0;
	}

	#contact input[type=text], 
	#contact input[type=email], 
	#contact textarea {
		font-size: 16px;
		line-height: 28px;
		margin-top: 5px;
	}

	#contact input[type=text],
	#contact input[type=email] {
		margin-bottom: 20px;
	}

	#contact #formBlock {
		font-size: 16px;
	}

	#contact textarea {
		margin-bottom: 20px;
	}

	#contact input[type=submit] {
		font-size: 16px;
		padding: 10px 15px;
	}

	.logo img {
		height: 25px;
	}

	.footer img {
		width: 260px;
		margin-bottom: 15px;
	}

	p.large-footer-text {
		font-size: 20px;
		margin-bottom: 30px;
	}

	p.copyright {
		margin-top: 30px;
	}

	.one-fourth,
	.two-fourth,
	.three-fourth,
	.four-fourth {
		width: 47.5%;
	}

	.one-fourth,
	.three-fourth {
		margin-right: 1.25%;
		margin-left: 0;
	}

	.two-fourth,
	.four-fourth {
		margin-right: 0;
		margin-left: 1.25%;
	}

	#nav-trigger {
		padding: 5px 20px 0 20px;
	}

	#what_we_do .section-container {
		height: 2600px;
		margin-top: -1300px;
		top: 50%;
	}

	#what_we_do {
		height: 2650px;
	}

	section#start,
	section#technologies,
	section#case_study,
	section#contact {
		min-height: 720px;
	}

}