/* =Nav
-------------------------------------------------------------- */
#nav-trigger {
  display: none;
  text-align: center;
  background-color: #fff; 
}

#nav-trigger span {
  display: inline-block;
  float: right;
  cursor: pointer;
  font-size: 25px;
  text-transform: uppercase; 
  line-height: 0;
  margin-top: 12px;
  height: 28px;
}

nav#nav-mobile {
  position: relative;
  display: none; 
}

nav#nav-mobile ul {
  display: none;
  margin-top: 0;
  list-style-type: none;
  border-bottom: 1px #ddd solid;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding-left: 0; 
  width: 100%;
}

nav#nav-mobile li {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #ddd; 
}

nav#nav-mobile li a:hover {
   color: #CF3800;
}

nav#nav-mobile li:last-child {
  border-bottom: none; 
}

nav#nav-mobile li.menu-item-has-children ul li:first-child {
  display: none;
}

nav#nav-mobile a {
  display: block;
  padding: 20px 10px; 
}

nav#nav-mobile li:hover {
  background-color: #eee;
}

#nav-mobile .logo {
  display: none;
}

/* =Sections
-------------------------------------------------------------- */
/*section h1 {
  margin-bottom: 10px; 
  }*/

section p {
  margin-bottom: 30px; 
}

section p:last-child {
  margin-bottom: 0; 
}

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 767px) {

  #nav-trigger {
    display: block; 
  }

  nav#nav-main {
    display: none; 
  }

  nav#nav-mobile a.logo-link {
    display: none; 
  }

  nav#nav-mobile {
    display: block; 
  } 

  header {
      background: none;
      padding: 0;
  }

  ul.sub-menu.expanded {
      border-top: solid 1px #FCFBF5; 
  }

}