.case-study-card {
  padding: 0 75px;

  &__thumb {
    padding: 0 0 30px;
  }

  &__icon {
    width: 90px;
  }

  &__text {
    font-size: 18px;
    line-height: 34px;
    margin: 0;
  }

  &__label {
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
  }

  &__actions {
    margin: 45px 0 0;
  }

  &__link {
    font-size: 14px;
    text-transform: uppercase;
  }
}

@include mobile {
  .case-study-card {
    padding: 0 20px;
    text-align: center;

    &__text {
      font-size: 16px;
      margin: 20px 0 0;
    }

    &__label {
      font-size: 16px;
      margin: 30px 0 0;
    }

    &__actions {
      margin: 45px 0 0;
    }
  }
}
