.case-study-card {
  background-color: $white;
  border: 4px solid $grey-800;
  display: block;
  padding: 40px 60px;

  &:hover {
    text-decoration: none;
  }

  &__thumb {
    padding: 0 0 30px;
  }

  &__image {
    max-width: 100px;
  }

  &__icon {
    width: 90px;
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    margin: 0;
  }

  &__details {
    margin: 0;
    text-align: left;
    width: 100%;
  }

  &__name {
    display: block;
  }

  &__headline {
    display: block;
  }

  &__label {
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
  }

  &__image {
    vertical-align: top;
  }

  &__actions {
    margin: 45px 0 0;
  }

  &__link {
    font-size: 14px;
    text-transform: uppercase;
  }
}

@include tablet {
  .case-study-card {
    padding: 40px 20px;

    &__text {
      font-size: 16px;
    }

    &__label {
      font-size: 16px;
      margin: 30px 0 0;
    }

    &__actions {
      margin: 40px 0 0;
    }

    &__link {
      font-size: 12px;
    }
  }
}
