.case-study-card {
  padding: 0 75px;

  &__thumb {
    padding: 0 0 30px;
  }

  &__icon {
    width: 90px;
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 30px;
  }

  &__label {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 30px;
    text-transform: uppercase;
  }
}

@include mobile {
  .case-study-card {
    padding: 0 20px;
  }
}
