.field {
  &__label {
    display: inline-block;
    font-size: 18px;
    margin: 0 0 10px;
  }

  &__input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px $grey-800 solid;
    color: $grey-800;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    outline: none;
    padding: 20px 5px;
    text-align: inherit;
    width: 100%;

    &_text {
      min-height: 100px;
    }
  }
}

@include tablet {
  .field {
    &__input {
      font-size: 14px;
      padding: 5px;
    }
  }
}
