.field {
  &__label {
    display: inline-block;
    font-size: 18px;
    margin: 0 0 10px;
  }

  &__input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px $grey-800 solid;
    font-family: $font-primary;
    font-size: 18px;
    line-height: 28px;
    outline: none;
    padding: 10px 5px;
    text-align: inherit;
    width: 100%;

    &_text {
      min-height: 100px;
    }
  }
}

@include mobile {
  .field {
    &__label {
      font-size: 16px;
      margin: 0 0 5px;
    }

    &__input {
      font-size: 16px;
      padding: 5px;
    }
  }
}
