.form {
  &__row {
    max-width: 390px;
    margin: 0 auto 50px;

    &:last-child {
      margin: 0;
    }
  }

  &__column {
    padding: 0 10px 0 0;

    &:last-child {
      padding: 0 0 0 10px;
    }
  }

  &__action {
    margin: 120px 0 0;
  }
}

@include mobile {
  .form {
    &__row {
      margin: 0 0 20px;
    }

    &__column {
      margin: 0 0 20px;
      padding: 0;

      &:last-child {
        margin: 0;
        padding: 0;
      }
    }
  }
}
