.header {
  background-color: $white;
  border-bottom: 1px solid $grey-200;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100%;

  &__content {
    height: 65px;
  }

  &__navs-switcher {
    font-size: 27px;
  }

  &__logo-link {
    display: block;
    width: 200px;
  }

  &__placeholder {
    display: inline-block;
    width: 24px;
  }

  &:after {
    background-image: url(/img/shadow.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 30px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}
