.header {
  background-color: $white;
  border-bottom: 1px solid $grey-200;
  box-shadow: 0 3px 5px $grey-200;
  left: 0;
  min-width: $page-min-width;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 100%;

  &__content {
    height: $header-content-height;
  }

  &__navs-switcher {
    font-size: 24px;
  }

  &__logo-link {
    display: block;
    width: 230px;
  }

  &__navs-switcher {
    display: none;
  }

  &__placeholder {
    display: none;
    width: 21px;
  }
}

@include tablet {
  .header {
    &__navs-switcher {
      display: inline-block;
    }

    &__placeholder {
      display: inline-block;
    }
  }
}

@include mobile {
  .header {
    &__logo-link {
      width: 180px;
    }
  }
}
