.navbar {
  @include transition(all .25s);

  background-color: $white;
  border-right: 1px solid $grey-200;
  bottom: 0;
  left: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 80%;
  z-index: 1;

  &_opened {
    max-width: 300px;
    opacity: 1;
  }

  &__header {
    border-bottom: 1px solid $grey-200;
    height: $header-content-height + 1;
    margin: 0 20px;
  }

  &__logo {
    width: 140px;
  }

  &__close {
    font-size: 21px;
  }

  &__links {
    padding: 15px 0;
  }

  &__link {
    border-bottom: 1px solid $grey-200;
    display: block;
    font-weight: bold;
    margin: 0 20px;
    padding: 15px 0;
    text-align: left;
    white-space: nowrap;
  }
}
