.navbar {
  @include transition(opacity .25s);

  background-color: $white;
  border-right: 1px solid $grey-200;
  bottom: 0;
  left: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  z-index: 2;

  &_opened {
    opacity: 1;
    max-height: 100vh;
  }

  &__header {
    height: $header-content-height + 1;
    margin: 0 20px;
  }

  &__close {
    font-size: 21px;
  }

  &__links {
    padding: 15px 0;
  }

  &__item {
    margin: 30px 0 0;
  }

  &__link {
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 34px;
    padding: 0 5px;
    text-transform: uppercase;
    text-decoration: none !important;

    &_highlight {
      background-image: linear-gradient(to bottom, $blue 45%, transparent 45%);
    }

    &.active {
      span {
        border-bottom: 4px solid $grey-800;
      }
    }
  }
}

@include tablet {
  .navbar {
    &__header {
      height: $md-header-content-height + 1;
    }
  }
}
