.navigation {
  &__link {
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 34px;
    margin: 0 0 0 30px;
    padding: 0 5px;
    text-transform: uppercase;

    &_highlight {
      background-image: linear-gradient(to bottom, $blue 45%, transparent 45%);
    }

    &:first-child {
      margin: 0;
    }

    &:hover {
      text-decoration: none;

      span {
        border-bottom: 4px solid $grey-800;
      }
    }

    &.active {
      span {
        border-bottom: 4px solid $grey-800;
      }
    }

    span {
      @include transition(all .3s);

      border-bottom: 4px solid $white;
      display: inline-block;
      line-height: 26px;
    }
  }
}
