<section id="case_study" class="case-studies-section section padding_h">
	<div class="case-studies-section__content section__content padding_v">
		<h3><strong>What they say</strong></h3>
		<div class="flex padding_top">
			{% for case_study_hash in site.data.case_studies %}
			{% assign case_study = case_study_hash[1] %}
			<div class="case-studies-section__item width_1-2 sm-width_1-1">
				<div class="case-study-card">
					<div class="case-study-card__thumb">
						<img src="/img/quotes.svg" class="case-study-card__icon" />
					</div>
					<p class="case-study-card__text">{{ case_study.text }}</p>
					<p class="case-study-card__label"><strong>{{ case_study.name }}</strong></p>
					<a href="{{ case_study.url }}" class="case-study-card__link">Case study</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
