<section id="start" class="hero-section section flex flow_column justify_center align-items_center padding_h">
	<div class="hero-section__content section__content">
		<h1 class="hero-section__title">DevOps, delivered.</h1>
		<h3 class="hero-section__subtitle">
			Infrastructure should radically empower your team. We work with developers
			to quickly customise and deploy powerful, flexible DevOps infrastructure
			solutions that deliver more value, faster.
		</h3>
		<h3 class="hero-section__subtitle">
			Develop. Deploy
			<br />
			<strong>like no Otter.</strong>
		</h3>
	</div>
</section>
