<section id="start" class="hero-section section flex flow_column justify_center align-items_center padding_h">
	<div class="hero-section__content section__content">
		<h1 class="hero-section__title">It’s 2018. Can you still justify DevOps engineers?</h1>
		<h3 class="hero-section__subtitle">
Otter pairs with your developers to reengineer your CI/CD pipelines for Kubernetes. In a one-week design sprint, we put the knowledge and control back in the hands of your development team.
		</h3>
		<h3 class="hero-section__subtitle">
			Reduced costs. Better infrastructure.
			<br />
			<strong>No DevOps strings attached.</strong>
		</h3>
	</div>
</section>
