<section class="hero-section section padding_h">
	<div class="hero-section__content section__content section__content_wide">
		<div class="section__content">
			<div class="hero-section__title-wrapper">
				<h1 class="hero-section__title">
					It is 2018. Can you still justify DevOps engineers?
				</h1>
			</div>
			<br />
			<p class="hero-section__copy">
				The first-ever DevOps design sprint is here – created by DevOps engineers for<br />
				development teams. Empower your developers and deploy flexible Kubernetes<br />
				infrastructure in just 1 week.
			</p>
			<div class="hero-section__actions">
				<div class="button">
					<a href="/" class="button__content">Learn more</a>
				</div>
			</div>
		</div>
	</div>
</section>
