<section id="technologies" class="technologies-section section">
	<div class="technologies-section__content section__content padding_h">
		<div class="flex justify_center align-items_center">
			{% for technologyHash in site.data.technologies %}
			{% assign technology = technologyHash[1] %}
			<div class="technologies-section__item width_1-8 md-width_1-4 sm-width_1-1">
				<div class="technology-card">
					<img src="{{ technology.img_url }}" class="technology-card__thumb" />
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
