<section id="what_we_do" class="wwd-section section padding_h">
	<div class="wwd-section__content section__content padding_v">
		<h1 class="section__title">What we do</h1>
		<div class="wwd-card">
			<h3 class="wwd-card__title"><strong>1. Closing the gap</strong></h3>
			<img src="/img/what_we_do_01.svg" class="wwd-card__image">
			<p>DevOps can empower teams. But the engineer-based model is broken: slowly creating complex, inflexible infrastructures that lock you into your cloud provider, and are expensive to use and maintain. We call this “The DevOps Gap”.</p>
			<p><strong>We’re closing the gap.</strong></p>
		</div>
		<hr />
		<div class="wwd-card">
			<h3 class="wwd-card__title"><strong>2. Design sprints</strong></h3>
			<img src="/img/what_we_do_02.svg" class="wwd-card__image">
			<p><strong>Design sprints to transform your infrastructure.</strong></p>
			<p>Over a 1 week design sprint, we pair with your developers to deploy a proven DevOps infrastructure solution: CI / CD system, integrated with Git and Kubernetes, and including Review Apps.</p>
			<p>We quickly upskill your team and engineer ourselves out of the process: leaving you with a powerful, flexible infrastructure which is fully understood and owned by your developers - and no ongoing reliance on a DevOps engineer.</p>
		</div>
		<hr />
		<div class="wwd-card">
			<h3 class="wwd-card__title"><strong>3. How it works</strong></h3>
			<div class="steps-card flex">
				<div class="width_1-2 sm-width_1-1">
					<img src="/img/what_we_do_03-split_01.svg" class="steps-card__image">
					<div class="flex width_1-1">
						<div class="width_1-2">
							<p class="steps-card__text">We'll take half a day to confirm the viability of our solutions, and meet your lead developers.</p>
						</div>
						<div class="width_1-2">
							<p class="steps-card__text">We will provide key training materials to upskill your lead developers in preparation for the sprint.</p>
						</div>
					</div>
				</div>
				<div class="steps-card width_1-2 sm-width_1-1">
					<img src="/img/what_we_do_03-split_02.svg" class="steps-card__image">
					<div class="flex width_1-1">
						<div class="width_1-2">
							<p class="steps-card__text">We'll collaborate with your lead developers to customise and deploy our solution.</p>
						</div>
						<div class="width_1-2">
							<p class="steps-card__text">In case of snags, one year's Slack support included in the deployment fee.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="wwd-card">
			<h3 class="wwd-card__title"><strong>4. What you get</strong></h3>
			<img src="/img/what_we_do_04.svg">
		</div>
	</div>
</section>
