<section id="what_we_do">
	<div class="section-container">
		<h2>What we do</h2>
		<h3><strong>1. Closing the gap</strong></h3>
		<img src="/img/what_we_do_01.svg">
		<p>DevOps can empower teams. But the engineer-based model is broken: slowly creating complex, inflexible infrastructures that lock you into your cloud provider, and are expensive to use and maintain. We call this “The DevOps Gap”.</p>
		<p><strong>We’re closing the gap.</strong></p>
		<hr></hr>
		<h3><strong>2. Design sprints</strong></h3>
		<img src="/img/what_we_do_02.svg">
		<p><strong>Design sprints to transform your infrastructure.</strong></p>
		<p>Over a 1 week design sprint, we pair with your developers to deploy a proven DevOps infrastructure solution: CI / CD system, integrated with Git and Kubernetes, and including Review Apps.</p>
		<p>We quickly upskill your team and engineer ourselves out of the process: leaving you with a powerful, flexible infrastructure which is fully understood and owned by your developers - and no ongoing reliance on a DevOps engineer.</p>
		<hr></hr>
		<h3><strong>3. How it works</strong></h3>
		<div class="how-it-works">
			<div class="desktop"><img src="/img/what_we_do_03.svg"></div>
			<div class="mobile-big">
				<img src="/img/what_we_do_03-split_01.svg">
			</div>
			<div class="mobile-small">
				<img src="/img/what_we_do_03-split_01.svg">
			</div>
			<div class="one-fourth">
				We'll take half a day to confirm the viability of our solutions, and meet your lead developers.
			</div>
			<div class="two-fourth">
				We will provide key training materials to upskill your lead developers in preparation for the sprint.
			</div>
			<div class="mobile-big">
				<img src="/img/what_we_do_03-split_02.svg">
			</div>
			<div class="mobile-small">
				<img src="/img/what_we_do_03-split_02.svg">
			</div>
			<div class="three-fourth">
				We'll collaborate with your lead developers to customise and deploy our solution.
			</div>
			<div class="four-fourth">
				In case of snags, one year's Slack support included in the deployment fee.
			</div>
		</div>
		<hr></hr>
		<h3><strong>4. What you get</strong></h3>
		<img src="/img/what_we_do_04.svg">
	</div>
</section>
