<section id="why_us" class="wu-section wu-section_1 section">
	<div class="section__content padding_v padding_h">
		<div class="wu-section__wrapper section__content">
			<div class="section__header padding_bottom">
				<h1 class="section__title">Why choose us?</h1>
			</div>
			<div class="wu-section__card">
				<div class="flex flow_row md-flow_column align-items_center justify_space-between">
					<div class="wu-section__thumb width_1-2 md-width_1-1">
						<img src="/img/graphics/why-us-1.svg" class="wu-section__image">
					</div>
					<div class="wu-section__caption width_1-2 md-width_1-1">
						<div class="wu-section__caption-content">
							<h3 class="wu-section__subtitle">
								<span>The problem: Your DevOps model is broken</span>
							</h3>
							<p class="wu-section__copy">
								DevOps engineers are expensive, often delivering inflexible black
								boxes that lock your team into costly cloud providers. As a result,
								your developers lack true ownership of their infrastructure and
								work. You pay an engineer’s salary, but are still left with
								complexity and uncertainty.
							</p>
							<p class="wu-section__copy"><strong>
								Devops engineers are draining your recources. But they’re also not your only option.
							</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="why_us" class="wu-section section padding_v">
	<div class="wu-section__wrapper section__content padding_h">
		<div class="section__content wu-section__card-wrapper">
			<div class="wu-section__card wu-section__card_border flex flow_row md-flow_column-reverse align-items_center justify_space-between">
				<div class="wu-section__caption width_3-5 md-width_1-1">
					<div class="wu-section__caption-content">
						<h3 class="wu-section__subtitle">
							<span>Our solution: A state-of-the-art design sprint with a big impact</span>
						</h3>
						<p class="wu-section__copy">
							We pair with your developers to deploy a flexible CI/CD system built
							around Kubernetes. Your developers learn by doing, so they can own
							and control their brand new infrastructure. In one week, we help you
							eliminate your team’s dependency on DevOps engineers.
						</p>
						<p class="wu-section__copy"><strong>
							Get better, more sustainable infrastructure in a week than
							you would in 6 months with a DevOps engineer.
						</strong></p>
					</div>
				</div>
				<div class="wu-section__thumb width_1-3 md-width_1-1">
					<img src="/img/graphics/why-us-2.svg" class="wu-section__image">
				</div>
			</div>
		</div>
	</div>
</section>
<section id="why_us" class="wu-section wu-section_3 section">
	<div class="section__content padding_v padding_h">
		<div class="wu-section__wrapper section__content">
			<div class="wu-section__card">
				<div class="flex flow_row md-flow_column align-items_center justify_space-between">
					<div class="wu-section__thumb width_1-2 md-width_1-1">
						<img src="/img/graphics/why-us-3.svg" class="wu-section__image">
					</div>
					<div class="wu-section__caption width_1-2 md-width_1-1">
						<div class="wu-section__caption-content">
							<h3 class="wu-section__subtitle">
								<span>Plus: Powerful technologies and ongoing support</span>
							</h3>
							<p class="wu-section__copy">
								Our syllabus-driven training approach gives your developers
								first-hand knowledge and deploys the latest technologies into your
								infrastructure. In case of snags down the road, we include one year
								of support via Slack.
							</p>
							<p class="wu-section__copy"><strong>
								Unclutter your system and put the power back into the hands
								of your developers.
							</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
