.padding {
  &_h {
    padding-left: 30px;
    padding-right: 30px;
  }

  &_v {
    padding-bottom: 90px;
    padding-top: 90px;

    &_small {
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }

  &_top {
    padding-top: 90px;

    &_small {
      padding-top: 50px;
    }
  }

  &_bottom {
    padding-bottom: 90px;
  }
}

@include mobile {
  .padding {
    &_v {
      padding-bottom: 50px;
      padding-top: 50px;
    }

    &_h {
      padding-left: 20px;
      padding-right: 20px;
    }

    &_top {
      padding-top: 50px;
    }

    &_bottom {
      padding-bottom: 50px;
    }
  }
}
