@mixin width {
  &_auto {
    width: auto;
  }

  &_1-1 {
    width: 100%;
  }

  &_1-2 {
    width: 50%;
  }

  &_1-3 {
    width: 33.3333%;
  }

  &_2-3 {
    width: 66.6666%;
  }

  &_1-4 {
    width: 25%;
  }

  &_3-4 {
    width: 75%;
  }

  &_1-5 {
    width: 20%;
  }

  &_2-5 {
    width: 40%;
  }

  &_3-5 {
    width: 60%;
  }

  &_4-5 {
    width: 80%;
  }
}

.width {
  @include width;
}

@include tablet {
  .md-width {
    @include width;
  }
}

@include mobile {
  .sm-width {
    @include width;
  }
}

@include sm-mobile {
  .xs-width {
    @include width;
  }
}
